<%- include("partials/header.ejs") %>


<body>
    <%- include('partials/navbar.ejs') %>

    <!--Body area-->
    <h2>Article List</h2>
    <section class="container">
        <a href="/create-post" title="Create post"><div class="write-btn">✏️</div></a>

            <% postList.slice().reverse().forEach((article, index) => { %>
    
                    <p><a href="/article/<%= index %>" class="hover-style"><%= article.title %></a></p>
 
            <% }); %>
        </ol>
    </section>
</body>

<%- include("partials/footer.ejs") %>